{% extends "base.html" %}

{% block mainbody %}
{#    <div class="Layer" id="layer">    </div>#}
    <div id="container">
        {% if object %}
            <div id="detail-infro">
                <h1>{{ object.title }}</h1>

                    {% if  user.is_authenticated %}
                    <button class="add_button" id="seen">Have seen</button>

                    <b style="color: #f44336" id="message"></b>
                    {% if  object.flag == 1 %}
                        <script>
                            $("#seen").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                    {% endif %}

            <script>
                    $(document).ready(function () {
                        $("#seen").click(function () {
                            $.get("/movie/add_seen/{{ object.movieid }}", function (msg) {
                                if (msg == "1") {
                                    $("#seen").css({"background-color": "#f44336", "color": "white"});
                                    $("#message").html("Added to Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#seen").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Deleted from Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });
                    });
                </script>




                <script>
                    $(function () {
                        $('span.stars').stars();
                    });
                    $.fn.stars = function () {
                        return $(this).each(function () {
                            $(this).html($('<span />').width(Math.max(0, (Math.min(10, parseFloat($(this).html())))) * 8));
                        });
                    }
                </script>
                <p><b>Year:</b> {{ object.year }}</p>
                <p><b>Genres:</b> {{ object.genres }}</p>
                <p><b>Movie Length:</b> {{ object.length }} min</p>
                <span class="stars">{{ object.rate }}</span>
                <p><b>Rating:</b> {{ object.rate }}</p>
                <p><a href="http://www.imdb.com/title/{{ object.movieid }}" target="_blank">See in IMDB <span
                        class="glyphicon glyphicon-new-window"></span></a></p>
                <p id="summary"><b>Plot Summary: </b>"{{ object.plot }}"</p>
                {% if  user.is_authenticated %}
                    <button class="add_button" id="order">Order Movie</button>

                    <b style="color: #f44336" id="message1"></b>
                    {% if  object.flag == 1 %}
                        <script>
                            $("#order").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                    {% endif %}

            <script>
                    $(document).ready(function () {
                        $("#order").click(function () {
                            $.get("/movie/add_order/{{ object.movieid }}", function (msg) {
                                if (msg == "1") {
                                    $("#order").css({"background-color": "#f44336", "color": "white"});
                                    $("#message1").html("Added to Ordered list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#order").css({"background-color": "white", "color": "black"});
                                    $("#message1").html("Deleted from Ordered list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });
                    });
                </script>




            </div>

            <div id="main-pic">
                <img border="0" src="{{ object.poster }}" alt="Cannot load photo, sorry!" width="300" height="400">
            </div>
            <h2>Main actors in {{ object.title }}:</h2>
            <hr>
        {% endif %}

        {% for item in items %}
            <table>
                <td>
                    <img border="0" src="{{ item.photo }}" alt="Cannot load photo, sorry!" width="220" height="280"
                         style="padding: 10px">
                </td>
                <td>
                    <h3><a href="/movie/actor_detail/{{ item.actorid }}" target="_self">{{ item.name }}</a></h3>
                </td>
            </table>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

